
/* Update the styles.css in liferay-portal-6.0.6/tomcat-6.0.29/webapps/ROOT/html/VAADIN/themes/base(runo)/styles.css
   add white-space: pre; to enable new line. (refer following v-caption)
*/
/*.v-caption {*/
/*overflow: hidden;*/
/*white-space: pre;*/
/*}*/

/*white-space: pre-wrap; - enable both white space "\n" and "<br>"*/


/*-------------------------------------------------------------------------*/
/* To enable help  sub-window close button change - liferay-portal-6.0.6/tomcat-6.0.29/webapps/ROOT/html/VAADIN/themes/provisioning/styles.css*/

/*
  Line 230

.helpWindow .v-window-closebox{
  background: transparent url(img/close.png);;
  height: 15px;
  width: 15px;
  top: 7px;
  right: 12px;
}

*/