.birtviewer_toolbar {
    background-color: #ffffff;
    border: none;
    /*margin-left: 21px;*/
}

.birtviewer_navbar {
    background-color: #ffffff;
    border: none;
    /*margin-left: 15px;*/
    /*width: 96%;*/
}

.birtviewer_document_fragment {
    border: none;
    /*margin-left: 15px;*/
}

a {
    color: #8f4f16;
}

a:hover {
    color: #62360e;
}

