.main-layout {
    background: #f4f5f5;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 190px;
    padding-left: -20px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.img-layout {
    background:white;
    margin-left: 18px;
    padding-right: 34px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    -moz-border-radius-topright: 17px;
    -moz-border-radius-bottomright: 17px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-bottomleft: 17px;
    border-color: #f4f5f5;
    border-width: 2px;
}

.quick-link-panel {
    width: 125px;
}

.quick-link{

}

.quick-v-layout{
    padding-right: 10px;
}

.horizontal-banner-layout {
    background: white;
    -webkit-border-top-right-radius: 15px;
}

.v-gridlayout-quick-link {
    margin-left: 5px;
}

.nav-panel {
    margin-top: 8px;
    margin-left: 18px;
    width: 221px;
    margin-bottom: 440px;
    height:300px;
    padding-right: 8px;
}

.copywight-layout {
    margin-left: 450px;
    padding-bottom: 20px;
}

.filter-source {
    margin-left: 550px;
}

.filter-label {
    margin-top: 20px;
}

.app-info-grid {
    margin-top: 8px;
}

.abuse-grid {
    margin-top: -2px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.body-v-layout {
    margin-left:10px;
    width:840px;


}

.app-info-button-sub-grid {
    margin-left: 15px;
    padding-bottom: 10px;
}

.sub-grid-suspend {
    padding-left: 60px;
}

.sub-grid-allow {
    padding-top: 20px;
    padding-left: 10px;
}

.abuse-repo-panel {
    width:900px;
}

.email-label {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 15px;
}

.sucessfull-grid {
    padding-left: 110px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 50px;
}

.sucessfull-window-h {
    padding-bottom: 50px;
}

.email-f-name {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 15px;
}

.email-main-grid{
    margin-left:75px;
}

.search-combo{
    margin-top:-13px;
    padding-bottom:20px;
    margin-left:15px;
    margin-left: 2px;

}

.search-grid{
}

.search-panel{
    width:900px;
    height:500px;
    margin-top:8px;
}

.manual-filter-panel{
    margin-top: 0px;
    width:900px;
}

.search-text{
    margin-top: 5px;
    margin-left: 5px;
}

.app-info-panel {

}

.search-button{
}

.advertisement-manage-panel{
    margin-top: 0px;
    width:900px;
}

.manage-grid{
    margin-top: 8px;
}

.create-ad-grid{
    margin-top: 8px;
}

.create-grid{
    margin-top: 30px;
}

.change-grid{
    margin-top: 50px;
}

.ad-drop-combo{
    margin-top: -15px;
    margin-left: 17px;
}

.manage-ad-form{
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 12px;
}

.manage-panel{
    width: 900px;
    margin-top: 8px;
}

.edit-ad-grid{
    margin-left: 50px;
    margin-top: 15px;
}

.assigned-combo{
    margin-top:-18px;
}

.remove-h-layout{
    padding-top: 10px;
    padding-bottom: 30px;
}

.grid-nav-v-panel{
    margin-top: 0px;
}

.advertisement-create-panel{
    margin-top: 0px;
}

.assigned-ad-form {
    padding-top: 7px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.manage-table{
    margin-left: 11px;
}

.assigned-table{
    margin-top: -2px;
    margin-left: 11px;

}

.abuse-report-table{
    margin-top: -9px;
    margin-left: 10px;
}

.manual-filter-table{
    margin-left: 10px;
}

.app-info-table{
    margin-left: 8px;
}

.message-table{
    margin-left: 8px;
}

.search-table{
    margin-top: -18px;
    margin-left: 10px;
}

.subs-search{
    margin-left: 10px;
    margin-top: 2px;
}

.nav-v-layout{
    margin-top: -15px;
}

.main-button-h-layout{
    margin-left: 1093px;
}

.assigned-button{
    margin-top: -1px;
}

.manage-ad-search{
    padding-top: -10px;
    margin-top: -1px;

}

.error-label{
    color: #ff0000;
}

.create-ad-button{
    margin-left: 1px;
    padding-top: 5px;
}
.search-button{
    margin-top: 5px;
}

.abuse-paging{
    margin-left: 300px;
}

.subs-search-label{
    margin-top: 5px;
}

.subs-child-window-h-layout{
    margin-top: 30px;
    margin-left: 60px;
}

.subs-child-button-ok{
    padding-left: 5px;
    padding-right: 10px;
}

.remove-h-layout-2{
    margin-left: 165px;
}

.add-change-h-layout-1{
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 90px;
}

.add-change-h-layout-2{
    margin-left: 90px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.add-change-h-layout-3{
    margin-left: 120px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.manage-form-add{
    margin-left: 50px;
}

.manage-edit-add-h{
    margin-left: 162px;
}

.manage-add-delete-h-1{
    padding-bottom: 5px;
}

.manage-add-delete-h-2{
    padding-bottom: 5px;
}

.manage-add-delete-h-3{
    padding-top: 40px;
    margin-left: 150px;
}

.manage-add-delete-h-4{

}

.add-h-layout{
    margin-left: 350px;
    margin-top: 8px;
}

.create-add-form{
    margin-left: 45px;
}

.create-add-h-layout{
    padding-top: 10px;
    margin-left: 180px;
}

.manual-filter-message-layout-1{

}

.manual-filter-message-layout-2{
    padding-top: 20px;
    margin-left: 45px;
}

.h-button{
    margin-left: 12px;
    padding-bottom: 14px;
}

.h-layout-assign-ad{
    margin-left: 10px;
    padding-bottom: 14px;
}

.ad-assign-form{
    margin-left: 60px;
}

.ad-assign-h-layout{
    padding-top: 20px;
    margin-left: 140px;
}

.non-user-h{
    margin-bottom: 500px;
}

.non-user-panel{
    margin-left: 14px;
}

.non-user-label{
    color: #ff0000;
    font-size: 15px;
    padding-bottom: 20px;

}

.error-h-add{
    margin-left: 50px;
}

.error-label-add{
    color: #ff0000;
}

.ad-assign-error-label{
    color: #ff0000;
}

.ad-assign-h-layout-error{
    padding-top: 5px;
    margin-left: 50px;
}
/* styles for pagination */

.page-link span.v-button-caption, .page-link:focus span.v-button-caption{
    font-size: small;
    text-decoration: none; /* no underline, unless mouse is on it... see a:hover */
    margin-left: 10px;
    margin-right: 5px;
/*color: #009900; */
    color: #27485b;
}

.page-selected-link span.v-button-caption, .page-selected-link:focus span.v-button-caption{
    font-size: small;
    text-decoration: underline; /* no underline, unless mouse is on it... see a:hover */
    margin-left: 10px;
    margin-right: 5px;
    color: #006600;
}