@import "../runo/styles.css";
@import "custom.css";

.v-app {
    background: white;
}

.v-panel-captionwrap {
    font-size: smaller;
    background: url(img/headstrip_green.jpg);
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    -moz-border-radius-topleft: 11px;
    -moz-border-radius-topright: 11px;
    height: 27px;
}

.v-panel-caption {
    text-align: center;
    padding-top: 5px;
}

.v-panel-captionwrap span {
    padding-left: 10px;
    color: #FFFFFF;
}

.v-panel-caption,
.v-table-striped .v-table-row-odd,
.sidebar-menu {
    background: none;
    font-size: small;
}

.v-table-caption-container {
    font-size: small;
    text-align: left;
    font-weight:bold;

}

.v-table-cell-content {
    /*text-align: center;*/
}

.v-app .v-select-optiongroup .v-select-option {
    display: inline;
    padding-right: 10px
}

.v-tree {
    font-weight: bold;
}

.v-panel-content{
    border-bottom:none;
}

.v-textfield{
    width:155px;
}
.v-window-header {
    font-size: medium;
    color: #f4f5f5;
}

.v-window-footer {
    background: none;
    border-bottom:none;
}

.v-window-outerheader{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: url(img/headstrip_green.jpg);
  height: 25px;
  padding-top: 1px;
  padding-right: 40px;
  padding-bottom: 2px;
  padding-left: 18px;
  margin-left:1px;
  margin-right:1px;
}

.v-window-contents{
    background: white;
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
    position: fixed ;
    top: 50%;
    left: 50%;
}

.v-Notification-error {
    background: #94a0a3;
	padding-right: 60px;
    font-size: 10px;
}

.v-Notification-warning {
    background: #94a0a3;
	padding-right: 60px;
    font-size: 10px;
    border: 0px;
    color: white;
}
