@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}

a:link {
    text-decoration: none;
    color: #52a749;
}

a:visited {
    text-decoration: none;
    color: #52a749;
}

a:hover {
    text-decoration: none;
    color: #336600;
}

a:active {
    text-decoration: none;
    color: #52a749;

}

#wrap {
    width: 900px;
    margin: 0 auto;

}

#content {
    width: 900px;
    float: left;
}

#navigation {
    height: 30px;
    padding: 0;
    background: url(../images/menu_m.png) repeat-x;
    float: left;
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(border-radius.htc);
    font-size: 9px;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
    margin: 0px;
}

#navigation ul li a {
    height: 21px;
    display: block;
    float: left;
    /*font: bold 12px Verdana;*/
    font-family: Arial;
    color: #FFF;
    text-decoration: none;
    background: url(../images/navigation-separator.png) no-repeat right center;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 15px;
    font-size: 11px;
}

#navigation ul li a:hover {
    color: #FFF;
    background: url(../images/hover_img.gif) repeat-x left top;
}

#header_right {
    width: 250px;
    height: 20px;
    float: right;
    margin-top: 15px;
    text-align: right;
    color: #52a749;
}

#top_banner {
    width: 900px;
    height: 166px;
    background-image: url(../images/top-banner_1.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    float: left;

}

.urbangreymenu {
    width: 180px;
    float: left;
}

.urbangreymenu .headerbar {
    margin-top: 5px;
    color: white;
    background: url(../images/Button.png) no-repeat; /*last 2 values are the x and y coordinates of bullet image*/
    margin-bottom: 0; /*bottom spacing between header and rest of content*/
    text-transform: none;
    padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
    /*font-family: Verdana;*/
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
}

.urbangreymenu .headerbar a {
    text-decoration: none;
    color: white;
    display: block;
}

.urbangreymenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li {
    padding-bottom: 2px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a {
    font: normal 12px Arial;
    display: block;
    padding: 5px 0;
    line-height: 17px;
    padding-left: 12px; /*link text is indented 8px*/
    text-decoration: none;
    background-position: center center;
    color: #000000;

}

.urbangreymenu ul li a:visited {
    color: black;
}

.urbangreymenu ul li a:hover {
    /*hover state CSS*/
    background-image: url(../images/subheading.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #000000;
}

#main_content {
    width: 690px;
    float: right;
    margin-top: 5px;
}

#heading_top {
    background-image: url(../images/top_heading.gif);
    background-repeat: no-repeat;
    width: 688px;
    height: 30px;
    float: right;
}

#heading_bottom {
    background-image: url(../images/heading_bottom.png);
    background-repeat: no-repeat;
    width: 688px;
    height: 30px;
    float: right;
}

#heading_middle {
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #52a749;
    border-left-color: #52a749;
    width: 686px;
    background-color: #FFFFFF;
    float: right;
    padding-right: 0px;
    padding-left: 0px;

}

.heading_name {
    width: 600px;
    float: left;
    margin-right: 0px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 14px;
}

#report_heading {
    background-image: url(../images/report_header.gif);
    background-repeat: no-repeat;
    width: 900px;
    height: 40px;
    float: right;
}

.content_param {
    width: 900px;
    color: #000000;
    float: left;
}

#footer {
    width: 900px;
    height: 28px;
    background-image: url(../images/footer.gif);
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
}

.footer {
    width: 900px;
    height: 28px;
    background-image: url(../images/footer.gif);
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
}

.footer_heading {
    width: 400px;
    float: left;
    margin-left: 250px;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 6px;
}

.home {
    width: 6px;
    height: 35px;
    float: left;

}

.tableborder {
    border: #CCCCCC 1px solid;
}

.rowtop-color {
    background-color: #48b142;
    /*font: Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Arial;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    border-bottom: #CCCCCC 1px solid;
}

.rowmiddle-color {
    background-color: #e0dcdc;
    /*font: Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    text-align: left;
    padding-left: 10px;
    border-bottom: #CCCCCC 1px solid;
}

.rowsub-color {
    background-color: #caccca;
    /*font: Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    text-align: left;
    padding-left: 10px;
    border-bottom: #CCCCCC 1px solid;
}

.dropdown {
    width: 146px;
    height: 100px;
}

.list {
    min-width: 146px;
}

.month_list {
    width: 146px;
}

.item2list {
    height: 34px;
    width: 146px;
}

.item3list {
    min-width: 146px;
    height: 50px;
}

.item9list {
    height: 150px;
    width: 300px;
}

.year_list {
    height: 34px;
    width: 300px;
}

.select-box {
    border: 1px solid #aaa;
    width: 350px;
    color: #000000;
}

.input-box {
    border: 1px solid #aaa;
    width: 350px;
    height: 25px;
}

.alert {
    visibility: hidden;
    color: #ff0000;
}

.star {
    color: #ff0000;
}
#selectAll {
    vertical-align: sub;
}

.pdfTest {
    background-image: url("../images/pdficon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

#brand-logo {
    visibility: hidden;
    background: url("../images/brand-logo-additional.png") no-repeat;
    width: 512px;
    height: 1100px;
    position: absolute;
    left: -275px;
    top: -430px;
}
