@import "../runo/styles.css";

/* added css */

.root-layout {

}

.hsenid-logo img {
    margin-top: -20px;
    height:50px;
}

.simulator-header {
    font-size: 24px;
    line-height: normal;
    font-weight: bolder;
    letter-spacing: -0.03em;
    color: #f14c1a;
    height: 18px;
    padding-left: 60px;
}

.mobile-phone-background {
    background: transparent url(images/mobile_phone_with_display.jpg) no-repeat;
    width: 119px;
    height: 236px;
    padding-left: 11px;
    padding-top: 30px;
    z-index: -1;
}

.message-display {
    background-color: #ffffff;
    border: none;
    height: 112px;
    font-size:10px;
    line-height:10px;
    white-space: pre-wrap;
    padding-right:21px;
}

.address-display {
    background-color: #ffffff;
    width: 98px;
    height: 15px;
    border-bottom: 1px solid #7d7d7d;
    font-size:10px;
    text-align:center;
}

/*for layout containing table and bottom layout*/
.table-outer-layout {
    border:none;
    padding-right: 0px;
    padding-left: 0px;
}

/*for layout below tables*/
.bottom-layout {
    padding-top: 0px;
    -moz-border-radius-bottomleft : 10px;
    -moz-border-radius-bottomright : 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border: 1px solid #b6bbbc;
    border-top: 0px #ffffff;
}

.input-panel-section-header{
    color: #f14c1a;
    font-weight: bold;
}

/*----------------------Edited Vaadin Styles--------------------*/

/*vaadin table column header alignment*/
.v-table-caption-container {
    text-align: center;
    font-size: 13px;
}

/*vaadin panel content bottom horizontal line removal*/
.v-panel-content {
    border-bottom: none;
}

/*vaadin tabsheet bottom horizontal line removal*/
.v-tabsheet-content {
    border: 1px solid #babfc0;
    background-color: #fff;
    border-bottom: none;
    border-top: none;
}

/*vaadin table caption */
.v-caption-sent-message-table .v-captiontext {
    color: #f14c1a;
    padding-bottom: 7px;
    font-size: 16px;
}

/*table row height*/
.v-table-components-inside .v-table-cell-content {
    height: 36px;
}

/*vaadin table borders*/
.v-table-header-wrap {
	height: 36px;
    -moz-border-radius-topleft : 10px;
    -moz-border-radius-topright : 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border: 1px solid #b6bbbc;
	border-bottom: none;
}
.v-table-header {
	height: 36px;
}

.v-table-body {
    font-size: 12px;
	background: #fff;
	border-left: 1px solid #b6bbbc;
    border-right: 1px solid #b6bbbc;
    border-top: 1px solid #b6bbbc;
    border-bottom: none;
}
.v-table-cell-content {
    padding: 0 6px 0 4px;
}

.v-table-cell-wrapper {
    white-space: normal;
}

.charging-description {
    color: #247F1F;
}

