/*Robi Styles*/
.table-row-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    padding-top: 5px;
}

.table-row-cell-center-align {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.table-row-cell-left-align {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}

.table-row-cell-right-align {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
}

.table-row-padding-only {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-header-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ead8ad;
}

.table-header-padding-only {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-header-cell-center-align {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table-header-cell-left-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.table-header-cell-right-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
}

.table-total-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d9d9d9;
    font-weight: bold;
}

.table-total-cell-center-align {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table-total-cell-left-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.table-total-cell-right-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
}

.table-total-padding-only {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ED1C24;
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    /*color: #f7a445;*/
}

.mini-titles {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #cf843d;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.mini-titles-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    text-align: left;
}

.font-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-logo {
    max-width: 150px;
}

.copyright-footer {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}