@import url(custom_common.css);
@import url(color_schemes/orange.css);

/* ---------- Base styles ---------- */

body {
    /*background: #EEF0F2;*/
    background: white;
    font-size: 11px;
}

a {
    color: #5B677D;
    text-decoration: underline;
}

a:hover {
    color: #06C;
    text-decoration: none;
}

hr, .separator {
    border-color: #BFBFBF transparent #FFF;
    border-style: solid;
    border-width: 1px 0;
}

#wrapper {
    background: #e8ecef;
    margin: 0 auto;
    width: 998px;
}

.ie6 #wrapper {
    width: 998px;
}

#banner {
    background: url(../images/custom/top-banner.jpg) no-repeat;
    height: 162px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}

#banner h1.logo {
    float: none;
    margin: 15px 0 0;
    position: static;
}

body #banner .logo a {
    float: left;
}

.current-community {
    display: none;
}

.logo .current-community {
    background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
    color: #FFF;
    display: block;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    margin: 15px 0 0 20px;
    padding: 7px 17px 7px 40px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#link-bar .sign-in {
    background: url(../images/common/key.png) no-repeat 3px 50%;
    float: right;
    font-weight: bold;
    margin-top: 0;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 0;
    top: 0;
}

#link-bar .sign-out {
    background: url(../images/common/key.png) no-repeat 3px 50%;
    float: right;
    font-weight: bold;
    margin-top: 0;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 0;
    top: 0;
}

/*#sign-out {*/
/*position: absolute;*/
/*left: 900px;*/

/*}*/

.guest-community .logo .current-community {
    display: none;
}

.private-page .logo .current-community {
    background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
    height: 1%;
}

.ie6 #banner h1.logo {
    height: 1%;
}

/* ---------- Main navigation ---------- */

#navigation {
    background: #414445 url(../images/navigation/bg.png) repeat-x 0 0;
    clear: both;
    margin: 0 auto 5px;
    min-height: 2.2em;
    padding: 0 5px;
}

#navigation ul {
    font-weight: bold;
    list-style: none;
    margin: 0 auto;
    min-height: 2em;
    padding: 3px;
}

#navigation ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ie #navigation ul {
    height: 1%;
}

.ie6 #navigation, .ie6 #navigation ul {
    height: 2em;
    overflow: visible;
}

#navigation a {
    color: #FFF;
    padding: 3px 15px;
}

#navigation li {
    display: inline;
    float: left;
    font-size: 1.1em;
    margin: 0 1px;
    padding: 0;
    position: relative;
}

#navigation li a {
    display: block;
    text-decoration: none;
}

#navigation li.selected a, #navigation li a:hover, #navigation .child-menu li a {
    background: #313334;
    color: #FFF;
    text-shadow: -1px -1px #000;
}

#navigation li:hover .child-menu {
    background: #1E2529;
    display: block;
    position: absolute;
    width: 200px;
    z-index: 300;
}

.ie6 #navigation li.hover .child-menu {
    background: #1E2529;
    display: block;
    position: absolute;
    width: 200px;
    z-index: 300;
}

#navigation .child-menu {
    display: none;
}

#navigation .child-menu li {
    border-width: 0 0 1px;
    display: block;
    float: none;
    margin: 0;
}

#navigation .child-menu li a {
    cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
    zoom: 1;
}

#navigation .child-menu li a:hover {
    background-color: #020509;
}

#navigation .child-menu .selected a {
    background: #020509 url(../images/navigation/bullet_selected.png) no-repeat 5px 50%;
}

.js .delete-tab {
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
    border: none; /*background-color: #EEF0F2;*/
    /*border: 1px solid #C8C9CA;*/
    /*margin: 0 0 10px;*/
    /*padding: 3px;*/
    /*text-align: left;*/
}

.portlet-topper {
    display: none; /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
    /*border: 1px solid;*/
    /*border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;*/
    /*font-size: 1.1em;*/
}

.portlet-title {
    display: none; /*color: #222;*/
    /*float: none;*/
    /*font-weight: bold;*/
    /*min-width: 50%;*/
    /*padding: 5px;*/
    /*text-shadow: 1px 1px #FFF;*/
}

.lfr-portlet-title-editable {
    margin-top: -4px;
    z-index: 9999;
}

.ie .lfr-portlet-title-editable {
    margin-top: -6px;
}

.lfr-portlet-title-editable-content {
    padding: 0;
}

.ie .lfr-portlet-title-editable-content {
    margin-top: 4px;
}

.portlet-icons {
    float: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    position: absolute;
    right: 3px;
    text-align: right;
    top: 3px;
}

.portlet-icons .portlet-close-icon {
    border-width: 0;
}

.page-maximized .portlet-icons {
    font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
    padding-bottom: 5px;
}

.ie6 .portlet-topper {
    zoom: 1;
}

body.lfr-has-sidebar {
    padding-left: 0;
}

.lfr-has-sidebar #content-wrapper {
    padding-left: 220px;
    width: auto;
}

/* ---------- Menu ---------- */
#content {
    position: relative; /*height: 250px;*/
}

#menu {
    /*max-width: 20%;*/
    max-height: 100%; /*background:green;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 20%; /*height:100%*/

}

.portlet-content {
    /*max-width: 80%;*/
    /*max-height:100%;*/
    /*background: gray;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 80%; *//*height: 100%*/
    /*padding-top:0*/

}

.portlet-content, .portlet-minimized .portlet-content-container {
    padding: 0px;
}

/* ---------- Footer ---------- */

#footer {
    text-align: center;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
    margin-bottom: 1.5em;
}

.breadcrumbs li {
    background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
    display: inline;
    margin-right: 5px;
    padding-right: 15px;
}

.breadcrumbs .last {
    background-image: none;
    font-weight: bold;
    margin-top: 0.2em;
}

.breadcrumbs .last a {
    color: #555;
}

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
    margin: 0 0 5px;
    width: auto;
}

.site-breadcrumbs ul {
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-color: #C0C2C5;
    height: 1.8em;
    margin: 0;
}

.site-breadcrumbs li {
    background-image: none;
    float: left;
    line-height: 1.8em;
    margin-right: 0;
    padding-left: 0.75em;
    padding-right: 0;
}

.site-breadcrumbs li span {
    background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
    display: block;
    line-height: 1.8em;
    padding: 0 15px 0 0;
}

.site-breadcrumbs li span a {
    text-decoration: none;
}

.site-breadcrumbs li.first a {
    color: #369;
    font-weight: bold;
}

.site-breadcrumbs li.last a {
    color: #4B5567;
    font-size: 1.3em;
}

.site-breadcrumbs .last {
    display: inline;
    font-size: 1em;
    margin-top: 0;
    padding-right: 0;
}

.site-breadcrumbs .last span {
    background-image: none;
    padding: 0;
}

.lfr-hudcrumbs {
    position: fixed;
    top: 0;
    z-index: 200;
}

.lfr-hudcrumbs ul {
    background: #414445;
    background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
    color: #FFF;
}

.lfr-hudcrumbs li span {
    background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-grid .lfr-column, .columns-max .lfr-column {
    padding: 0 5px;
}

.lfr-panel-container {
    background-color: transparent;
}

.aui-combobox .aui-field-input {
    padding: 4px 3px 3px;
    font-size: 11px;
    height: 15px;
}

.aui-combobox .aui-field {
    float: left;
    line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
    float: none;
    display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
    -moz-border-radius: 20px;
    -moz-box-shadow: inset 0 1px 3px #000;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 3px #000;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
    -moz-box-shadow: 1px 1px 0 #FFF;
    -webkit-box-shadow: 1px 1px 0 #FFF;
    box-shadow: 1px 1px 0 #FFF;
}

.logo .current-community {
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

.logo .current-community, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#navigation li.selected a {
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

.aui-combobox .aui-toolset-first .aui-toolset-item-content {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.v-checkbox label {
    padding-left: 10px; /*padding-right:20px;*/

}

.v-filterselect-input {
    width: 154px;
}

.v-filterselect-prompt {
    width: 170px;
}

/*.v-panel .v-panel-content {*/
/*-moz-border-radius-bottomleft: 15px;*/
/*-moz-border-radius-bottomright: 15px;*/
/*border-bottom-left-radius: 15px;*/
/*border-bottom-right-radius: 15px;*/
/*-webkit-border-botom-left-radius: 15px;*/
/*-webkit-border-botom-right-radius: 15px;*/
/*}*/

.v-app, .v-window {
    /*margin-top: -10px;*/
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    padding: 0px;
}

.portlet-column-content {
    padding: 0px;
}

.v-form-errormessage {
    color: red;

}

div.v-button-menu_link,
div.v-button-menu_link:focus,
.v-button-menu_link:active,
div.v-disabled.v-button-menu_link,
div.v-disabled.v-button-menu_link:focus,
div.v-button-menu_link .v-button-wrap,
div.v-button-menu_link:focus .v-button-wrap,
.v-button-menu_link:active .v-button-wrap,
div.v-disabled.v-button-menu_link .v-button-wrap,
div.v-disabled.v-button-menu_link:focus .v-button-wrap {
    background: transparent;
    font-weight: normal;
    text-shadow: none;
    border: none;
    padding-left: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

}

.v-button-wrap {
    /*This is apply because of IE alignment issues*/
    margin-top: -1px;
}

.ncs-type-config-title {
    padding: 10px;
    color: #247F1F;
    font-size: 16pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header-with-border {
    font-weight: bolder;
    border-bottom-color: green;
    border-bottom-style: solid
}

.page-link span.v-button-caption, .page-link:focus span.v-button-caption {
    font-size: small;
    text-decoration: none; /* no underline, unless mouse is on it... see a:hover */
    margin-left: 5px;
    margin-right: 5px; /*color: #009900; */
    color: #27485b;
}

.page-selected-link span.v-button-caption, .page-selected-link:focus span.v-button-caption {
    font-size: small;
    text-decoration: underline; /* no underline, unless mouse is on it... see a:hover */
    margin-left: 5px;
    margin-right: 5px; /*color: #009900; */
    color: #006600;

}

.v-table-table {
    border-collapse: collapse;
}

.v-table-header {
    height: 30px;
}

/*  */

.topnav {
    background-image: url(../images/topnav.jpg);
    background-repeat: no-repeat;
    height: 45px;
    width: 998px;
}

.top-right {
    color: #000000;
    float: right;
    width: 300px;
    padding-right: 20px;
    to font-size: 10pt;
    text-align: right;
    margin-top: 14px;
}

.top-right a {
    text-decoration: none;
    color: #006633;

}

.top-right a:hover {
    color: #8E8F9D;

}

.homeicon {
    float: left;
    height: 32px;
    width: 31px;
    margin-left: 25px;
    margin-top: 6px;
    background-image: url(../images/home-icon.png);
    background-repeat: no-repeat;
}

.top-left {
    color: #000000;
    float: left;
    width: 550px;
    padding-left: 20px;
    font-size: 10pt;
    text-align: left;
    margin-top: 14px;
}

.top-left ul {
    display: inline;
    margin: 0;
    padding: 0;

}

.top-left li {
    list-style: none;
    display: inline;
}

.top-left li a {
    color: #006633;
    text-decoration: none;
    padding-right: 20px;
}

.top-left li a:hover {
    color: #8E8F9D;
}

.footer {
    height: 35px;
    width: 998px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    background-position: bottom;
    background-image: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    padding-top: 0px;
    float: left;
    clear: both;
}

.footer a {
    color: #3765e9;
    text-decoration: none;
}

.footer a:hover {
    color: #8E8F9D;
}

.button-bar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.red-label {
    color: red;
}

.prov-comp-container {
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.app-feature-layout {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 250px;
    margin-right: 0px;
}

.app-ncs-resoures-view-layout {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 84px;
    margin-right: 0px;
}

.app-inner-layout {
    padding-left: 90px;
}

.selected-menu-button .v-button-caption {
    color: green;
}

.v-textarea {
    overflow: auto;
}

.cas-ncs-form .v-caption {
    width: 250px;
}

.subs-ncs-form .v-caption {
    width: 250px;
}

.downloadable-ncs-form .v-caption {
    width: 250px;
}

.charging-form .v-caption {
    width: 250px;
}

.sms-ncs-form .v-caption {
    width: 250px;
}

.ussd-ncs-form .v-caption {
    width: 250px;
}

.vdf-api-ncs-form .v-caption {
    width: 250px;
}

.common-form .v-caption {
    width: 300px;
}

.home-panel .v-panel-content {
    border-radius: 15px;
    border-bottom-color: #DEE2E3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #BABFC0;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #BABFC0;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #BABFC0;
    border-top-width: 1px;
}

.home-panel .v-panel-captionwrap {
    height: 0px;
    border-width: 0px;
}

.app-search-layout .v-label {
    margin-left: 15px;
    margin-top: 15px;
}

.app-search-layout  .v-filterselect {
    margin-top: 15px;
}

.app-search-layout .v-textfield {
    margin-top: 15px;
}

.app-search-layout .v-button {
    margin-left: 15px;
    margin-top: 14px;
}

.app-requested-date {
    background-color: #d3d3d3;
}

.sp-search-layout .v-label {
    margin-left: 5px;
    margin-top: 15px;
}

.sp-search-layout  .v-filterselect {
    margin-top: 15px;
}

.sp-search-layout .v-textfield {
    margin-top: 15px;
}

.sp-search-layout .v-button {
    margin-left: 15px;
    margin-top: 14px;
}

.sp-search-layout {
    margin-top: -20px;
}

.sp-request-success-notification {
    color: green;
}

.sp-request-fail-notification {
    color: red;
}

/*Downloadable Application*/

.downloadable-sp-lbl {
    padding-left: 34px;
}

.downloadable-basic {

}

.downloadable-repository {
    margin-top: 20px;
    margin-bottom: 20px;
}

.downloadable-build-files {
    margin-bottom: 10px;
}

.downloadable-build-platform {
}

.downloadable-supported {
    margin-top: 20px;
    margin-bottom: 20px;
}

.downloadable-build-info {
    margin-top: 20px;
}

.downloadable-show-hide {
    padding-bottom: 20px;
}

.downloadable-padding-basic {
    padding-left: 100px;
}

.downloadable-padding-repository {
    padding-left: 100px;
}

.downloadable-padding-platform {
    padding-left: 100px;
}

.downloadable-padding-build-info {
    padding-left: 100px;
}

.downloadable-padding-devices {
    padding-left: 100px;
    margin: 10px 0;
}

.downloadable-padding-parent-category {
}

.downloadable-padding-child-category {
    padding-left: 25px;
}

.downloadable-link-expiration {
    margin-left: 10px;
}

.downloadable-validation {
    padding-left: 200px;
    margin: 5px 0;
}

.downloadable-upload-status {
    padding-top: 5px;
    padding-left: 10px;
}

.downloadable-success {
    color: green;
}

.downloadable-error {
    color: red;
}

.downloadable-margin {
    margin: 5px 0;
}

.textfield-tip {
    font-size: 11px;
    color: #646464;
}